" Jetbrains specific stuff (I think)
set ideajoin

" Until we can get this working on rider
nmap gcc :action CommentByLineComment<CR>
vmap gc :action CommentByLineComment<CR>
set commentary

set highlitghtedyank
set surround
set NERDTree

set relativenumber
set number
set clipboard+=unnamed
vmap Q gq
nmap gqap

let mapleader = " "
nmap <leader>q :action CloseContent<cr>
nmap <leader>Q :action ReopenClosedTab<cr>

nnoremap <Tab> >>_
nnoremap <S-Tab> <<_
inoremap <S-Tab> <C-D>
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv
map <C-j> cw<C-r>0<ESC>

" !WipeReg to wipe the registers
command! WipeReg for i in range(34,122) | silent! call setreg(nr2char(i), []) | endfor

